{{define "index"}}

<!DOCTYPE html>
<html>
    
    <head>
        
        <title>{{.title}}</title>
        <link rel="stylesheet" href="/static/site.css" />
        
    </head>
    <body>

        <nav id="nav01"></nav>
        
        <div id="main">
          <h1>Ini Test Web Golang {{.name}}</h1>
          <h2>Bahan - bahan websit:</h2>
        
          <p>HTML Template</p>
          <p>Style Sheets (CSS)</p>
          <p>Computer Code (JavaScript)</p>
          <p>Golang Web Programing</p>
        
          <footer id="foot01"></footer>
        </div>
        
        <script src="/static/script.js"></script>
        
        </body>
        </html> 
</html>
{{end}}
